@{
    ViewBag.Title = "Home Page";
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#test").datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
        $(function () {
            var state = true;
            $("#btn").on("click",function () {
                alert("clicked");
                if (state) {
                    $("#effect").animate({
                        backgroundColor: "#aa0000",
                        color: "#fff",
                        width: 500
                    }, 1000);
                } else {
                    $("#effect").animate({
                        backgroundColor: "#fff",
                        color: "#000",
                        width: 240
                    }, 1000);
                }
                state = !state;
            });
        });
    </script>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    <div class="jumbotron">
        <div class="form-control">
            <input type="button" id="btn" class="ui-state-default ui-corner-all" value="Enter" />
        </div>
        <input type="text" id="test" />
    </div>
    <div class="toggler">
        <div id="effect" class="ui-widget-content ui-corner-all" style="width:600px">
            <h3 class="ui-widget-header ui-corner-all">Animate</h3>
            <p>
                Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
            </p>
        </div>
    </div>
</div>



   